html {
  display: flex;
  justify-content: center;

}

#gameboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 600px;
  flex: 1;
  border-style: solid;
  border-width: 10px;
  border-radius: 5px;
  border-color: brown;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  flex: 1;
}

.square {
  display: flex;
  flex: 1;
}

/* class for divs that have been colored */
.colored {
  background-color: black;
}