html {
  display: flex;
  justify-content: center;

}

#gameboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 500px;
  flex: 1;
  background-color: antiquewhite;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  flex: 1;
}

.square {
  display: flex;
  flex: 1;
  background-color: black;
}